.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/target
/data
src-tauri/resources/*.db
src-tauri/resources/*.db-shm
src-tauri/resources/*.db-wal
src-tauri/gen/schemas
